.cat-parallax{
    min-height: 100vh;
    position: relative;
}

.dog-parallax{
    min-height: 100vh;
    position: relative;
}
.pets-parallax{
    min-height: 100vh;
    position: relative;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    min-width: 90vw; /* Adjust the width to 100vw */
}